<div class="bodyUsuario">
    <div class="usuarioCreate">
        <form class="form" action="/avaliar/update" method="post">
            <div class="form-header">
                <div class="title">
                    <h1>Avaliar Artigo</h1>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="idAvaliacao">Código</label>
                    <input type="readonly" name="idAvaliacao" value={{avaliar.idAvaliacao}}>
                </div>
                <div class="input-box">
                    <label for="titulo">Título do Artigo</label>
                    <input id="titulo" type="readonly" name="titulo" value={{avaliar.titulo}}>
                </div>
                <div class="input-box">
                    <label for="usuario">Usuário</label>
                    <input id="usuario" type="readonly" name="usuario" value={{avaliar.usuario}}>
                </div>
                <div class="input-box">
                    <label for="notaRelevancia">Nota 1</label>
                    <input id="notaRelevancia" type="number" name="notaRelevancia" value={{avaliar.notaRelevancia}} required>
                </div>
                <div class="input-box">
                    <label for="notaExperiencia">Nota 2</label>
                    <input id="notaExperiencia" type="number" name="notaExperiencia" value={{avaliar.notaExperiencia}} required>
                </div>
            </div>
            <div class="continue-button">
                <button class="button">Salvar</button>
            </div>
        </form>
    </div>
</div>