<div>
    <table >
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autores</th>
                <th>Link</th>
                <th>Status</th>
                {{#if session.isAutor}}
                <th>Editar</th>
                {{/if}}
                {{#if session.isAdmin}}
                <th>Avaliador</th>
                {{/if}}
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {{#each artigos}}
            <tr>
                <td>{{titulo}}</td>
                <td>{{nomeAutores}}</td>
                <td>{{link}}</td>
                <td>{{status}}</td>
                {{#if ../session.isAutor}}
                <td><a href="/artigo/update/{{idArtigo}}">Editar</a></td>
                {{/if}}
                {{#if ../session.isAdmin}}
                <td><a href="/artigo/avaliador/{{idArtigo}}">Avaliar</a></td>
                {{/if}}
                <td><a href="/artigo/delete/{{idArtigo}}">Deletar</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>