<div>
    <div><a href="/artigo/create">Criar novo artigo</a></div>
    <table >
        <thead>
            <tr>
                <th>Autores</th>
                <th>Autores</th>
                <th>Link</th>
                <th>Status</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {{#each artigos}}
            <tr>
                <td>{{titulo}}</td>
                <td>{{nomeAutores}}</td>
                <td>{{link}}</td>
                <td>{{status}}</td>
                <td><a href="/artigo/update/{{idArtigo}}">Editar</a></td>
                <td><a href="/artigo/delete/{{idArtigo}}">Deletar</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>