<div class="bodyUsuario">
    <div class="filter">
        {{!--  --}}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Usuário</th>
                <th scope="col">Tipo Usuário</th>
                <th scope="col">Editar</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>
        <tbody>
            {{#each usuarios}}
            <tr>
                <td>{{nome}}</td>
                <td>{{usuario}}</td>
                <td>{{tipousuario}}</td>
                <td class="edit" ><a href="/usuario/update/{{idUsuario}}">Editar</a></td>
                <td class="delete"><a href="/usuario/delete/{{idUsuario}}">Deletar</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>